@media screen and (max-width: 1350px) {

    .search-bar{
        width: 70%;
    }
    .search-bar input{
        width: 85%;
    }
    .search-bar button{
        min-width: 9.6%;
        margin-left: 10px;
    }
    .job-position{   
        width: 90%;
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
        margin-left: 80px;
    }
    
}

@media screen and (max-width: 1210px) {

    header{
        width: auto;
    }

    .job-position{   
        width: auto;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        margin-left: 50px;
    }

    
}

@media screen and (max-width: 780px) {

    .job-position{   
        width: 80%;
        display: flex;
        gap: 25px;
        flex-wrap: wrap;
    }

    
}